<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated mode="ios" color="dark" (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-row>
      <ion-col>
        <div>
          <ion-list>
            <ion-item *ngFor="let item of newArray" (click)="open($event, item)">
              <ion-row>
                <ion-col size="3">
                  <img src="http://image.tmdb.org/t/p/w300/{{item.poster_path}}">
                </ion-col>
                <ion-col>
                  <ion-row>
                    {{item.display}}
                  </ion-row>
                  <ion-row>
                    <ion-label>
                      <p>{{item.media_type}}</p>
                      <p>{{item.release_date}}</p>
                    </ion-label>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>