<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="md-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="id == null">
    <ion-card-header>
      <ion-card-title>Search for a serie, movie or person first!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-button (click)="clickedSearch()" color="dark" expand="full">
          Search</ion-button>
      </ion-card-content>
  </ion-card>
  <ion-row *ngIf="id != null">
    <ion-col>
      <ion-item>
        <ion-row>
          <ion-col size="3">
            <img src="http://image.tmdb.org/t/p/w185/{{datainfo?.poster_path}}{{datainfo?.profile_path}}">
          </ion-col>
          <ion-col>
            <ion-row>
              {{datainfo?.name}}
              {{datainfo?.original_title}}
            </ion-row>
            <ion-row>
              <ion-label>
                <p>{{datainfo?.first_air_date}}{{datainfo?.release_date}}</p>
                <p>{{type}}</p>
                <p>{{datainfo?.known_for_department}}</p>
                <ion-badge color="dark">{{datainfo?.status}}{{datainfo?.birthday}}</ion-badge>
              </ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="3" *ngIf="type != 'Person'">
            <ion-fab-button color="dark" mini>
              {{datainfo?.vote_average}}
            </ion-fab-button>
            <ion-fab-button color="dark" mini (click)="follow()">
              <ion-icon name="md-eye"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
    <ion-card>
      <ion-item>
        <ion-label>Overview</ion-label>
      </ion-item>
      <ion-card-content>
        {{datainfo?.overview}}
        {{datainfo?.biography}}
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type != 'Person'">
      <ion-item>
        <ion-label>Genres</ion-label>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let item of datainfo?.genres">
          <ion-badge color="dark">
            {{item.name}}
          </ion-badge>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type == 'Serie'">
      <ion-item>
        <ion-label>Seasons</ion-label>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let item of datainfo?.seasons">
          <ion-row>
            <ion-col size="3">
              <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
            </ion-col>
            <ion-col>
              <ion-row>
                <h2>{{item.name}}</h2>
              </ion-row>
              <ion-row>
                <ion-label>
                  <p>{{item.air_date}}</p>
                  <ion-badge color="dark">{{item.episode_count}} episodes</ion-badge>
                </ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type == 'Serie'">
      <ion-item>
        <ion-label>Created by</ion-label>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let item of datainfo?.created_by">
          <ion-row>
            <ion-col size="3">
              <img src="http://image.tmdb.org/t/p/w185/{{item.profile_path}}">
            </ion-col>
            <ion-col>
              <ion-row>
                <h2>{{item.name}}</h2>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type == 'Movie'">
      <ion-item>
        <ion-label>Production companies:</ion-label>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let item of datainfo?.production_companies">
          <ion-row>
            <ion-col size="3" *ngIf="item.profile_path != null">
              <img src="http://image.tmdb.org/t/p/w185/{{item.profile_path}}">
            </ion-col>
            <ion-col>
              <ion-row>
                <h2>{{item.name}}</h2>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type == 'Movie'">
      <ion-item>
        <ion-label>Information:</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-row *ngIf="datainfo.budget != null">
              <h2>Budget: {{datainfo?.budget}}$</h2>
            </ion-row>
            <ion-row *ngIf="datainfo.revenue != null">
              <h2>Revenue: {{datainfo?.revenue}}$</h2>
            </ion-row>
            <ion-row *ngIf="datainfo.runtime != null">
              <h2>Runtime: {{datainfo?.runtime}} minutes</h2>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type != 'Person'">
      <ion-item>
        <ion-label>Similar</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let item of datasim">
            <ion-list>
              <h3>{{item.name}}</h3>
              <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
            </ion-list>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let item of test?.followedSeries">
      <ion-row>
        <ion-col>
          <ion-row>
            <h2>{{item.id}}</h2>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-row>

</ion-content>