<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="md-lock"></ion-icon>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="loggedIn != 'loggedin'">
    <ion-card-header>
      <ion-card-title>Login with Facebook</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="Facebooklogin()" expand="full">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="loggedIn != 'loggedin'">
    <ion-card-header>
      <ion-card-title>Login with Google</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="Googlelogin()" color="danger" expand="full">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="loggedIn == 'loggedin'">
    <ion-card-header>
      <ion-card-title>Already logged in, go to upcoming</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="AlreadyLoggedIn()" color="dark" expand="full">
        go to upcoming</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>