<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-card *ngIf="foundSeries == true">
            <ion-item>
                <ion-label>Followed series</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of followedSeriedArray">
                        <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="foundMovies == true"> 
            <ion-item>
                <ion-label>Followed movies</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of followedMoviedArray">
                        <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>